<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card gradient-mint text-center width-400">
                    <div class="card-img overlap">
                        <img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/avatar-login.gif" width="190">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h2>Login</h2>
                            <form *ngIf="!mfaEnabled" name="form" (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="name" placeholder="Username" [(ngModel)]="model.name" #name="ngModel" required
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="password" class="form-control" name="pass" placeholder="Password" [(ngModel)]="model.passwd" #passwd="ngModel"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-pink btn-block btn-raised" (click)="onLogin()">Login</button>
                                        <button type="button" class="btn btn-secondary btn-block btn-raised" (click)="onAnonymous()">Anonymous</button>
                                    </div>
                                </div>
                            </form>
                            <form *ngIf="mfaEnabled" name="form" (ngSubmit)="mfa.form.valid && onMfa()" #mfa="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="token" placeholder="Token" [(ngModel)]="mfaToken" #name="ngModel" required
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-pink btn-block btn-raised" (click)="onMfa()">Continue</button>
                                        <button type="button" class="btn btn-secondary btn-block btn-raised" (click)="onBackLogin()">Back</button>
                                    </div>
                                </div>
                            </form>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                            />
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <a (click)="onRegister()">New User?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->